@import "layout/var";

.movie {
    margin-bottom: 72px;

    @media (max-width: 767px) {
        margin-bottom: 50px;
    }

    &__title {
        font-size: 48px;
        line-height: 58px;
        color: #5E5E5E;
        margin-bottom: 40px;
        font-family: $mus700;

        @media (max-width: 767px) {
            font-size: 32px;
            line-height: inherit;
        }
    }

    &__frame {
        position: relative;

        &:before {
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 0;
            width: 100%;
            height: calc(100% - 80px);
            background: #F5F5F5;
        }

        iframe {
            display: block;
            height: 490px;
            width: 100%;

            @media (max-width: 767px) {
                height: 280px;
            }
        }
    }
}