@import "layout/var";

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    @media (max-width: 767px) {
        background: #fff;
    }

    &__bott {
        &.fixed-style {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #fff;
            animation: menu-fixed 0.3s forwards ease-in-out;
        }
    }
}

@keyframes menu-fixed {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header-info {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: space-between;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__logo {
        display: flex;
        align-items: center;

    }

    &__logo-img {
        flex-shrink: 0;
        margin-right: 16px;
    }

    &__logo-text {
        font-size: 14px;
        line-height: 17px;
        color: #777777;

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__time {
        font-size: 14px;
        line-height: 17px;
        color: #777777;
    }

    &__tel-wrapp {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            width: 100%;
            justify-content: space-between;
            padding-top: 20px;
        }

    }

    &__tel {
        margin-left: 24px;
        display: block;
        font-size: 30px;
        line-height: 39px;
        color: #000;

        @media (max-width: 1199px) {
            font-size: 23px;
            line-height: 28px;
        }

        @media (max-width: 767px) {
            margin-left: 0;
            font-size: 18px;
            line-height: 28px;
        }

        &--without_margin {
            margin-left: 0;
        }
    }

    &__tel-with-mail {
        position: relative;
    }

    &__mail {
        display: block;
        position: absolute;
        bottom: 100%;
        right: 0;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        white-space: nowrap;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: flex-start;

    }
//
    &__left-side {
        transform: skewX(15deg);
        background: linear-gradient(93.46deg, #79aab1 -0.27%, #145073 105.65%);
        padding-right: 45px;

        @media (max-width: 1199px) {
            padding-right: 14px;
        }

        @media (max-width: 767px) {
            background: #fff;
            transform: none;
            padding: 0;
            width: 100%;
            padding-right: 0;
            max-height: calc(100vh - 50px);
            overflow: auto;
        }

        

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 400px;
            right: calc(100% - 2px);
            top: 0;
            height: 100%;
            background: linear-gradient(93.46deg, #A7D4CF -0.27%, #77a8b0 105.65%);

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__right-side {
        display: flex;
        align-items: center;
        cursor: pointer;

        @media (max-width: 767px) {
            margin-bottom: 6px;
            padding-top: 6px;
        }

        &:hover {
            .header-nav__call-icon{
                background: #A7D4CF;
            }
        }
    }

    &__call-icon {
        width: 40px;
        height: 40px;
        background: linear-gradient(155.1deg, #A7D4CF 5.39%, #145073 121.61%);
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;

        @media (max-width: 1199px) {
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        @media (max-width: 991px) {
            margin-right: 0;
        }

        @media (max-width: 767px) {
            margin-right: 15px;
        }
    }

    &__call-text {
        font-size: 18px;
        line-height: 50px;
        color: #000;

        @media (max-width: 1199px) {
            font-size: 16px;
            line-height: 22px;
        }
        @media (max-width: 991px) {
            display: none;
        }

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__un-skew {
        transform: skewX(-15deg);

        @media (max-width: 767px) {
            transform: none;
        }
    }
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        display: block;
    }

    &__item {
        padding: 0 12px;
        position: relative;

        @media (max-width: 1199px) {
            padding: 0 10px;
        }

        @media (max-width: 991px) {
            padding: 0 7px;
        }

        &:hover {
            .menu-list__second-lvl {
                display: block;
            }
        }
    }

    &__link {
        padding: 15px 0;
        color: #fff;
        display: block;
        transition: 0.2s;

        &:hover {
            text-shadow: 0px -1px 7px #CECECE;
        }

        @media (max-width: 767px) {
            color: #000;
            padding: 8px 0;
        }

        &--with-arr {
            position: relative;
            padding-right: 15px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 4px 0 4px;
                border-color: #ffffff transparent transparent transparent;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    &__second-lvl {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 270px;
        background: #fff;
        margin: 0;
        padding: 10px 0;
        list-style: none;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 100%;
            box-shadow: none;
            top: 0;
            padding: 0;
        }
    }

    &__second-lvl-item {
        padding: 6px 15px;
    }

    &__second-lvl-link {
        color: #000;

        &:hover {
            color: #145073;

        }
    }
}
